.card {
  background-color: var(--rs-color-background-elevation-raised);
  border-radius: var(--rs-unit-radius-medium);
  box-shadow: var(--rs-shadow-raised);
  transition: transform var(--rs-duration-medium) var(--rs-easing-standard);
}

.card:hover {
  transform: scale(1.02);
}
